@model ProjektHermods.Models.Recept

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recept</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OkRecept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OkRecept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
